@import "tailwindcss/base";

@import "tailwindcss/components";

.row {
  @apply flex;
  flex-direction: row;
}

.col {
  @apply flex;
  flex-direction: column;
}

.centered-column {
  @apply col items-center;
}

@import "tailwindcss/utilities";

.poiret  { font-family: 'Poiret One'; }
.raleway { font-family: 'Raleway'; }

h1 {
  font-family: 'Poiret One';
}

h2 {
  @apply font-bold text-xl;
}

p { @apply mb-4; }

ul {
  @apply list-disc ml-10;
}

li {
  @apply mb-1;
}

.link {
  text-decoration: underline;
  color: blue;
}
