.raleway { font-family: 'Raleway', sans-serif; }
.lora { font-family: 'Lora', serif; }
.crimson { font-family: 'Crimson Pro', serif; }

.content h1 {
  font-weight: bold;
  margin: 1rem 0 0.8rem;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

.content h3 {
  margin: -1rem 0 0.8rem;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}
